html {
    font-size: 18px;
}
header {
    background-color: #37516A !important;
}
iframe {
    width: 100%;
    min-height: calc(100vh - 136px);
    border: 0;
    margin-top: 16px;
}
.iframe-loader {
    position: relative;
}
.iframe-loader .loading-indicator {
    position: absolute;
    top: 24px;
    left: 24px;
}
.loader {
    position: fixed;
    z-index: 999;
    background: #FFF;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.loader .icon {
    position: absolute;
    left: calc(50% - 20px);
    top: calc(45% - 20px);
}
.alert {
    margin-top: 120px;
    margin-left: 24px;
    margin-right: 24px;
}
#patientList th {
    background-color: #F8F8F8 !important;
    color: #5D6B86 !important;
}
.alert-info {
    color: #235067;
    background-color: #EEF7FC;
    border: 1px solid #bce8f1;
}
.tabs-bar {
    border-top: 1px solid #F8F8F8 !important;
}
#patientList th i {
    margin-left: 4px;
}
#patientList th label {
    color: #FFF
}
.list-container {
    margin-top: 120px;
    max-width: 1280px;
}
.link-cell {
    color: #777;
    text-align: center;
}
header {
    background-color: #FFF !important;
    color: #444 !important;
    font-weight: 500;
}
.filter-row {
    background-color: #fcfbfd;
}
.v-input {
    font-size: 14px;
}
.v-input .v-icon {
    font-size: 20px;
}
.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons-container .btn:first-of-type {
    margin-right: 4px;
}
.v-btn, .btn {
    text-transform: initial !important;
}
.v-dialog--fullscreen>.v-card {
    border-radius: 0 !important;
}
.v-tab {
    padding-right: 24px !important;
    padding-left: 24px !important;
    text-transform: initial;
}
.v-tab--active {
    color: #718D39 !important;
}
.v-tab--active:before {
    background-color: #718D39!important;
}
.v-toolbar__title {
    padding-left: 8px !important;
}
.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-container .item {
    margin-right: 20px;
}
.v-slide-group__wrapper {
    border-bottom: 1px solid #ececec;
}
.v-data-table>.v-data-table__wrapper tbody tr.v-data-table__expanded__content {
    box-shadow: none !important;
    background-color: #fcfbfd;
}
#patientList tr:not(.filter-row) .v-icon.v-icon.v-icon--link {
    border: 1px solid #d3cddf;
    border-radius: 100%;
}
.collapsible-cell .subtitle {
    font-size: 0.75rem;
    font-weight: bold;
}
.collapsible-cell {
    text-align: center;
}
.field-title {
    text-transform: capitalize;
}
.dob-filter-field {
    width: 100%;
}
@media (min-width: 1140px) {
    .dob-filter-field {
        max-width: calc(100% - 32px);
    }
}
.report-date-filter-field input {
    font-size: 12px !important;
}

@media
only screen and (max-width: 767px),
(min-device-width: 414px) and (max-device-width: 767px)  {
    tr.filter-row td:not(:first-of-type) {
        display: block;
        height: 72px;
        width: 100%;
        max-width: 100%;
    }
    tr.filter-row td:first-of-type:before {
        content: "Filters";
        display: block;
        width: 100%;
    }
}
