<!DOCTYPE html>
<html>
<head>
    <title>WA State PHA received case report queue</title>
    <link rel="shortcut icon" type="image/jpg" href="app.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <div class="loader" v-show="!initialized">
            <v-progress-circular
            indeterminate
            color="primary"
            class="icon"
            ></v-progress-circular>
        </div>
        <v-alert
            text
            outlined
            color="deep-orange"
            icon="mdi-fire"
            v-text="errorMessage"
            dismissible
            v-show="alert"
            class="alert"
        >
        </v-alert>
        <v-app-bar
        absolute
        dark
        elevation="1"
        >
            <v-toolbar-title>WA State PHA received case report queue</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-app-bar>
        <v-container class="list-container" fluid>
            <v-card>
                <v-data-table
                id="patientList"
                :headers="headers"
                :items="results"
                :items-per-page="5"
                :search="search"
                class="elevation-1"
                :sort-by.sync="sortBy"
                :loading="loading"
                loading-text="Loading... Please wait"
                >
                    <template v-slot:item.link="{ item }">
                        <div class="buttons-container">
                            <!-- <v-btn
                            color="primary"
                            class="btn"
                            dark
                            small
                            rounded
                            :href="item.EICRLink"
                            target="_blank"
                            >
                            eICR
                            </v-btn>
                            <v-btn
                            color="primary"
                            class="btn"
                            dark
                            small
                            rounded
                            :href="item.RRLink"
                            target="_blank"
                            >
                            RR
                            </v-btn> -->
                            <v-btn
                            color="primary"
                            class="btn"
                            dark
                            small
                            rounded
                            @click="viewActiveItem(item)"
                            >
                                View Reports
                            </v-btn>
                        </div>
                    </template>
                    <template v-slot:body.prepend>
                        <tr class="filter-row">
                            <td>
                                <v-text-field
                                v-model="date_of_report"
                                type="text"
                                placeholder="YYYY-MM-DD"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="last_name"
                                type="text"
                                placeholder="Last Name"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="first_name"
                                type="text"
                                placeholder="First Name"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="birthdate"
                                type="text"
                                placeholder="YYYY-MM-DD"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="gender"
                                type="text"
                                placeholder="Gender"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="reason_for_report"
                                type="text"
                                placeholder="Display Name"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="reportable_condition"
                                type="text"
                                placeholder="Short Name"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="jurisdiction"
                                type="text"
                                placeholder="Jurisdiction"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td class="link-cell"></td>
                        </tr>
                      </template>
                      <template v-slot:top>
                        <v-dialog
                        v-model="dialog"
                        fullscreen
                        hide-overlay
                        >
                            <v-card>
                                <v-toolbar
                                dark
                                color="primary"
                                >
                                <v-btn
                                        icon
                                        dark
                                        @click="dialog = false"
                                    >
                                        <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                    <v-toolbar-title class="white--text">
                                        <div class="title-container">
                                            <h4 class="item" v-text="activeItem.last_name + ', ' + activeItem.first_name"></h4>
                                            <div class="item">
                                                <div class="text-body-2">DOB: <span v-text="activeItem.birthdate"></span></div>
                                                <div class="text-body-2">Gender: <span v-text="activeItem.gender"></span></div>
                                            </div>
                                        </div>
                                    </v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-toolbar-items>
                                        <v-btn
                                        dark
                                        text
                                        @click="dialog = false"
                                        >
                                        Back to List >>
                                        </v-btn>
                                    </v-toolbar-items>
                                </v-toolbar>
                                <v-tabs
                                    v-model="tab"
                                    show-arrows
                                    slider-size="3"
                                >
                                    <v-tab
                                        key="tab_eicr"
                                    >
                                        <v-icon class="mr-1" color="orange darken-2" v-bind="attrs"
                                        v-on="on">mdi-file-document</v-icon>
                                        Initial Case Report
                                    </v-tab>
                                    <v-tab
                                        key="tab_rr"
                                    >
                                    <v-icon class="mr-1" color="green" v-bind="attrs"
                                    v-on="on">mdi-file-document</v-icon>
                                    Reportability Response
                                    </v-tab>
                                    <v-tab
                                        key="tab_data"
                                    >
                                    <v-icon class="mr-1" color="blue darken-2" v-bind="attrs"
                                    v-on="on">mdi-code-tags</v-icon>
                                    Discrete Data
                                    </v-tab>
                                </v-tabs>
                                <v-tabs-items v-model="tab">
                                    <v-tab-item
                                      key="tab_eicr"
                                    >
                                      <v-card flat>
                                        <div class="eicr-iframe-loader"><iframe :src="activeItem.EICRLink"></iframe></div>
                                      </v-card>
                                    </v-tab-item>
                                    <v-tab-item
                                      key="tab_rr"
                                    >
                                    <v-card flat>
                                          <div class="rr-iframe-loader"><iframe :src="activeItem.RRLink"></iframe></div>
                                      </v-card>
                                    </v-tab-item>
                                    <v-tab-item
                                      key="tab_data"
                                    >
                                      <v-card flat>
                                          <div class="text-body-1 py-4 px-6">The following elements are immediately parsed from the Care Report and Reportability Response, and can be used to automatically trigger and send data to other public health processes.</div>
                                          <div class="px-6 mb-2" v-for="(key,index) in Object.keys(activeItem)" :key="key+'_'+index" v-if="inHeaderList(key)">
                                            <span v-text="getDisplayText(key)" class="font-weight-bold"></span> <span v-text="activeItem[key]"></span>
                                          </div>
                                      </v-card>
                                    </v-tab-item>
                                </v-tabs-items>
                            </v-card>
                        </v-dialog>
                      </template>
                </v-data-table>
            </v-card>
        </v-container>
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="app.js"></script>
</body>
</html>
