<!DOCTYPE html>
<html>
<head>
    <title>WA State PHA received case report queue</title>
    <link rel="shortcut icon" type="image/jpg" href="app.ico"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <div class="loader" v-show="!initialized">
            <v-progress-circular
            indeterminate
            color="primary"
            class="icon"
            :size="50"
            ></v-progress-circular>
        </div>
        <v-alert
            text
            outlined
            color="deep-orange"
            icon="mdi-fire"
            v-text="errorMessage"
            dismissible
            v-show="alert"
            class="alert"
        >
        </v-alert>
        <v-app-bar
        absolute
        dark
        elevation="1"
        height=96
        color="bgColor"
        >   <v-img src="logo.gif" max-width="160" class="mr-4"></v-img>
            <v-toolbar-title class="white--text">Received Case Report Queue</v-toolbar-title>
            <v-spacer></v-spacer>
            <div class="info-container text-right">
                <div class="text-body-2 white--text mb-2" v-if="loggedInUser">Logged in as <span v-text="loggedInUser"></span></div>
                <v-btn class="white primary--text" rounded @click="logout">Log out</v-btn>
            </div>
        </v-app-bar>
        <v-container class="list-container" fluid>
            <v-card>
                <v-data-table
                id="patientList"
                :headers="headers"
                :items="results"
                :items-per-page="-1"
                :search="search"
                class="elevation-1"
                :loading="loading"
                loading-text="Loading... Please wait"
                mobile-breakpoint="768"
                :options="{
                    sortBy: ['date_of_report'],
                    sortDesc: [true]
                }"
                >
                    <template v-slot:item.link="{ item }">
                        <div class="buttons-container">
                            <v-btn
                            color="primary"
                            class="btn"
                            dark
                            small
                            rounded
                            @click="viewActiveItem(item)"
                            >
                                View Reports
                            </v-btn>
                            <v-icon
                                small
                                @click="deleteItem(item)"
                                v-show="allowDelete"
                                class="ml-1"
                                title="Delete this item"
                            >
                                mdi-delete
                            </v-icon>
                        </div>
                    </template>
                    <template v-slot:body.prepend>
                        <!-- filter row -->
                        <tr class="filter-row">
                            <td>
                                <v-text-field
                                v-model="date_of_report"
                                type="text"
                                placeholder="YYYY-MM-DD HH:MM"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                class="report-date-filter-field"
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="reportable_condition"
                                type="text"
                                placeholder="Condition"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="last_name"
                                type="text"
                                placeholder="Last Name"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="first_name"
                                type="text"
                                placeholder="First Name"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                ></v-text-field>
                            </td>
                            <td>
                                <v-text-field
                                v-model="birthdate"
                                type="text"
                                placeholder="YYYY-MM-DD"
                                single-line
                                prepend-icon="mdi-filter"
                                clearable
                                class="dob-filter-field"
                                ></v-text-field>
                            </td>
                            <td class="link-cell"></td>
                        </tr>
                      </template>
                      <!-- modal for display eiCR viewer && RR viewer -->
                      <template v-slot:top>
                        <v-dialog
                        v-model="dialog"
                        fullscreen
                        hide-overlay
                        >
                            <v-card>
                                <v-toolbar
                                dark
                                color="accent"
                                class="modal-toolbar"
                                >
                                <v-btn
                                        icon
                                        dark
                                        class="primary--text"
                                        @click="dialog = false"
                                    >
                                        <v-icon>mdi-close</v-icon>
                                    </v-btn>
                                    <v-toolbar-title class="primary--text">
                                        <div class="title-container">
                                            <h4 class="item" v-text="activeItem.last_name + ', ' + activeItem.first_name"></h4>
                                            <div class="item">
                                                <div class="text-body-2">DOB: <span v-text="activeItem.birthdate"></span></div>
                                                <div class="text-body-2">Gender: <span v-text="activeItem.gender"></span></div>
                                            </div>
                                        </div>
                                    </v-toolbar-title>
                                    <v-spacer></v-spacer>
                                    <v-toolbar-items>
                                        <v-btn
                                        dark
                                        text
                                        class="primary--text"
                                        @click="dialog = false"
                                        >
                                        Back to List >>
                                        </v-btn>
                                    </v-toolbar-items>
                                </v-toolbar>
                                <v-tabs
                                    v-model="tab"
                                    show-arrows
                                    slider-size="3"
                                    class="tabs-bar"
                                >
                                    <v-tabs-slider color="secondary"></v-tabs-slider>
                                    <v-tab
                                        key="tab_eicr"
                                    >
                                        <v-icon class="mr-1" color="orange darken-2">mdi-file-document</v-icon>
                                        Initial Case Report
                                    </v-tab>
                                    <v-tab
                                        key="tab_rr"
                                    >
                                    <v-icon class="mr-1" color="green">mdi-file-document</v-icon>
                                    Reportability Response
                                    </v-tab>
                                    <v-tab
                                        key="tab_data"
                                    >
                                    <v-icon class="mr-1" color="blue darken-2">mdi-code-tags</v-icon>
                                    Discrete Data
                                    </v-tab>
                                </v-tabs>
                                <v-tabs-items v-model="tab">
                                    <v-tab-item
                                      key="tab_eicr"
                                    >
                                      <v-card flat>
                                        <div class="iframe-loader">
                                            <v-progress-circular
                                            indeterminate
                                            color="primary"
                                            class="icon loading-indicator"
                                            :size="50"
                                            v-show="!eicrViewerLoaded"
                                            ></v-progress-circular>
                                            <!-- iframe for eiCR report html -->
                                            <iframe id="eicrViewerFrame" :src="activeItem.EICRLink" @load="eicrViewerLoaded=true"></iframe>
                                        </div>
                                      </v-card>
                                    </v-tab-item>
                                    <v-tab-item
                                      key="tab_rr"
                                    >
                                    <v-card flat>
                                        <div class="iframe-loader loading-indicator">
                                            <v-progress-circular
                                            indeterminate
                                            color="primary"
                                            class="icon"
                                            :size="50"
                                            v-show="!rrViewerLoaded"
                                            ></v-progress-circular>
                                            <!-- iframe for RR report html -->
                                            <iframe id="rrViewerFrame" :src="activeItem.RRLink" @load="rrViewerLoaded=true"></iframe>
                                        </div>
                                      </v-card>
                                    </v-tab-item>
                                    <v-tab-item
                                      key="tab_data"
                                    >
                                      <v-card flat>
                                            <div class="text-body-1 py-4 px-6">The following elements are immediately parsed from the Care Report and Reportability Response. They are stored as discrete fields in a database, and can be screened to automatically trigger and send data to other public health processes, immediately upon receipt of a new case report.</div>
                                            <div class="alert-info mx-6 py-2 pt-4">
                                                <div class="px-6 mb-2" v-for="(item,index) in discreteDataFields" :key="item">
                                                    <span v-text="getDisplayTitle(item)" class="font-weight-bold field-title"></span> <span v-text="activeItem[item]"></span>
                                                </div>
                                            </div>
                                            <v-divider class="mt-6 mx-6 mb-4"></v-divider>
                                            <div class="alert-info contained mx-6 my-6 pt-4 pb-2">
                                                <div class="px-6 mb-2 item-container" v-for="(item,index) in demoDataFields" :key="item">
                                                    <span v-text="getDisplayTitle(item)" class="font-weight-bold field-title"></span> <span v-html="activeItem[item]"></span>
                                                </div>
                                            </div>
                                      </v-card>
                                    </v-tab-item>
                                </v-tabs-items>
                            </v-card>
                        </v-dialog>
                        <v-dialog v-model="dialogDelete" max-width="480px">
                            <v-card>
                              <v-card-title class="text-body-1 text-center">Are you sure you want to delete this item?</v-card-title>
                              <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" text @click="closeDelete">Cancel</v-btn>
                                <v-btn color="primary" text @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                              </v-card-actions>
                            </v-card>
                        </v-dialog>
                      </template>
                </v-data-table>
            </v-card>
        </v-container>
      </v-main>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="app.js"></script>
</body>
</html>
